div.mainForm {
    margin-left: 50px;
}
div.password {
    margin-bottom: 30px;
    margin-top: 30px;
}
div.confirm {
    margin-bottom: 30px;
    margin-top: 30px;
}
div.result {
    margin-top: 50px;
}
#save {
    margin-top: 50px;
}